<!DOCTYPE html>
<html>
  <head>
    <title>Users Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to user page</p>
    <a href="/logout">Exit</a>
  </body>
</html>
